<h1>Universal Journal Signup</h1>

<div class="col-md-4">
	<h3>Features</h3>
	<p>You do not have to create an account on Universal Journal to post, but signing up for free gives you access to some great features.</p>
	<h3>Private Journal</h3>
	<p></p>
	<h2></h2>
	<p></p>

	You do not have to create an account on Universal Journal to be able to post. You can post anonymously when logged in or logged out. Upon submission of an anonymous journal entry, you will be given a link to 
</div>


	<%= render 'form' %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>Just <%= pluralize(@user.errors.count, "thing") %> before signing up!</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<%= link_to 'Back', users_path %>
