/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */




#page-content-wrapper {
  background-image: url(seigaiha.png);
  background-attachment: fixed;
  
}
 
@import "set1";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "navbar";

.submitButton {
  /* font */
  color: #286090;
  font-size: 20px;
  font-family: helvetica;
  
  /* remove blue underline */
  text-decoration: none;
  
  /* border */
  border: 2px solid #286090;
  border-radius: 20px;
  
  /* transitions */
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  
  /* other */
  background-color: white;
  padding: 4px 30px;
}

.submitButton:hover {
  /* update text color and background color */
  color:white;
  background-color:#286090;
  
   /* transitions */
  transition-duration: .2s;
  -webkit-transition-duration: .11s;
  -moz-transition-duration: .2s;
}

.variation-a {
  display: inline-block;
  height: 100px;
  width: 100%;
  text-align: left;
  padding-top: 50px;
  margin-left: 30px;
}



button.submitButton {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.one{
    position:relative;
    left:0;
    top:0;
    z-index:0;
}
.two{
    position:relative;
    left:10px;
    top:0px;
    z-index:1;
}

#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}

.media-body
{
  width: 2000px;
  border-top: thick groove #000;
  border-radius:0px;
  margin-top: 10px;
  
}

.media-body > span
{
  margin-left: 10px;
}

.media-heading
{
  display: inline;
  margin-top: 15px;
  margin-left: 10px;
}

.media-title
{
  text-align: center;
}

.media-content
{
  margin-top: 5px;
  margin-left: 30px; 
  margin-right: 30px; 
  margin-bottom: 10px;
}

.media-info
{
  margin-top: 10px;
  margin-right: 10px;
  
}

.media
{
  background: url(confectionary.png);
  background:rgba(255,255,255, 0.75); 

  
  
}

.glyphicon-globe
{
  font-size: 3.0em;
  margin-right: 5px;
}
.test
{
    max-width: 850px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    padding: 10px 36px;
    color: #4B525B;
    position: relative;
    z-index: 10;
    border-radius: 2px;
}


