.top-nav{
     font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }
    
    .navbar .navbar-collapse {
        text-align: center;
    }
}

.navbar .navbar-inner {
    padding: 0;
}

.navbar .nav {
    margin: 0;
    display: table;
    height: 50px;
    width: 100%;
   font-family: 'Lato', sans-serif;

}

.navbar .nav li {
    display: table-cell;
    width: 25%;
    float: none;
    width: auto;
    height: 50px;
    float: none;
    
     
}



.navbar .nav li a {
border-left: 1px solid rgba(255, 255, 255, .75);
    border-right: 1px solid rgba(0, 0, 0, .1);
    margin-top: 20px;
    display: block;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 5px;
    font-family: 'Lato', sans-serif;

   
}

.navbar .nav li a span i 
{
    margin-top: 0px;
}

.navbar .nav li:first-child a {
font-family: 'Lato', sans-serif;
text-align: center;
 padding: 0px;
    border-left: 0;
    border-radius: 3px 0 0 3px;
}

.navbar .nav li a i {
    vertical-align: middle;
}

.navbar .nav li:last-child a {
font-family: 'Lato', sans-serif;
border-left: 1px solid rgba(255, 255, 255, .75);
    border-right: 1px solid rgba(0, 0, 0, .1);
    display: block;
    
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 5px;

    border-right: 0;
    border-radius: 0 3px 3px 0;
}